:root {
  --header-font-size: 3rem;
  --main-color: #78d8e0;
  --accent-color: #f0f08d;
  --bg-color: #0a192f;
  --grid-gap: 1rem;
  --card-pad: 1rem;
  --card-border-radius: 20px;
  /* --card-color: #ebeaeae6; */
  --card-color: whitesmoke;
  --github-purple:#6e5494;
  --linkedin-blue:#0077b5;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* background-color: var(--bg-color); */
  background-color: white;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: none;
}

img {
  object-fit: cover;
  border-radius: 10px;
}

.layout {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 1rem;
}

.grid {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 50px 100px 150px;
  grid-template-areas:
    "intro  avatar location"
    "intro  avatar skills"
    "intro  avatar skills";
}


nav {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: black;
}

nav ul {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  list-style: none;
  padding-right: 1rem;
}

nav ul a {
  text-decoration: none;
  color: black;
}

nav ul a:hover {
  text-decoration: none;
  opacity: .6;
}

.online-container{
  display: flex;
  gap: .3rem;
  align-items: center;
}

 .green-circle{
  height: 15px;
  width: 15px;
  background-color: rgb(6, 206, 6);
  border-radius: 100%;
}

.card {
  border-radius: var(--card-border-radius);
  background-color: var(--card-color);
  overflow: hidden;
  color: black;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--card-pad);
  color: black;
  background-image: linear-gradient(
    120deg,
    var(--card-color),
    #78d8e0,
    #f0f08d
  );
  /* border: 2px solid red; */
  height: 100%;
}

.intro p {
  margin-top: 1rem;
}

.contact-banner {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.contact-banner button {
  cursor: pointer;
  border: none;
  padding: 1rem 3.5rem;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-size: 1rem;
  transition-duration: .7s;

}

.contact-banner button:hover {
  opacity: 0.8;
  background-color: white;
  color:black;
  box-shadow: inset -200px  0 0 0 white;

}

.social {
  background-color: white;
  height: 40px;
  width: 40px;
  padding: 0.4rem;
  border-radius: 100px;
}

 .github, .linkedin{
  fill: black;
}

.github:hover,.linkedin:hover{
  fill: white;
}

.github:hover{
  background-color: var(--github-purple);
}

.linkedin:hover{
  background-color: var(--linkedin-blue);
}

.avatar {
  /* border: 2px solid black; */
  text-align: center;
}

.skills-card {
  grid-area: skills;
  background-image: linear-gradient(120deg, #f0f08d, var(--card-color));
  padding: 1rem;
}

.skills-wrapper {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-title {
  padding: 1rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skill {
  height: 30px;
  width: 30px;
  background-color: orange;
  border-radius: 100%;
}

/* //////////// */

.intro-card {
  grid-area: intro;
}

.avatar-card {
  grid-area: avatar;
  background-color: #202020;
}

.location-card {
  grid-area: location;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: bold; */
  font-size: 1.1rem;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  gap: var(--grid-gap);
}

.project-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem;
  position: relative;
  min-height: 250px;

  /* border: 2px solid red; */
}

.project-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.project-desc {
  max-width: 220px;
  margin-top: 2rem;
}

.project-image {
  justify-self: flex-end;
  height: 300px;
  width: 300px;
  position: absolute;
  right: -1rem;
  top: 2rem;
}

.project-links {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}
